body{
    background-color: black;
    width:auto;
    height:auto;
}

.container-fluid {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    color: whitesmoke;
    width: 99%;
    height: 100%;
    margin: 0;
    padding: 0.5em;

}

.timeDate, .weather{
    height: 10em;
    margin: 0 0 0.5em;
    border: rgba(191, 191, 191, 0.76) solid 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;}

.message, .lightMain, .device, .camVideo, .alarm, .music, .humidityMain, .temperatureMain, .statistics,
.settings, .ventsMain, .logs{
    height: 10.3em;
    margin: 0 0 1.8em;
    border: rgba(191, 191, 191, 0.76) solid 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;

}


.col-xs-3{
    height:200px;
}

i, p{padding: 0.2em;}